@font-face {
  font-family: "lemon_milkregular_italic";
  src: url("./fonts/webfontkit-20220906-143159/lemonmilk-regularitalic-webfont.woff2") format("woff2"), url("./fonts/webfontkit-20220906-143159/lemonmilk-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lemon_milkregular";
  src: url("./fonts/webfontkit-20220906-143159/lemonmilk-regular-webfont.woff2") format("woff2"), url("./fonts/webfontkit-20220906-143159/lemonmilk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lemon_milkmedium_italic";
  src: url("./fonts/webfontkit-20220906-143159/lemonmilk-mediumitalic-webfont.woff2") format("woff2"), url("./fonts/webfontkit-20220906-143159/lemonmilk-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lemon_milkmedium";
  src: url("./fonts/webfontkit-20220906-143159/lemonmilk-medium-webfont.woff2") format("woff2"), url("./fonts/webfontkit-20220906-143159/lemonmilk-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lemon_milklight_italic";
  src: url("./fonts/webfontkit-20220906-143159/lemonmilk-lightitalic-webfont.woff2") format("woff2"), url("./fonts/webfontkit-20220906-143159/lemonmilk-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lemon_milklight";
  src: url("./fonts/webfontkit-20220906-143159/lemonmilk-light-webfont.woff2") format("woff2"), url("./fonts/webfontkit-20220906-143159/lemonmilk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lemon_milkbold_italic";
  src: url("./fonts/webfontkit-20220906-143159/lemonmilk-bolditalic-webfont.woff2") format("woff2"), url("./fonts/webfontkit-20220906-143159/lemonmilk-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lemon_milkbold";
  src: url("./fonts/webfontkit-20220906-143159/lemonmilk-bold-webfont.woff2") format("woff2"), url("./fonts/webfontkit-20220906-143159/lemonmilk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.routes {
  background-color: #ffffff;
}

.navBar {
  background-color: #212529;
}

.navItemContainer {
  border: 1px solid white;
  padding: 10px 8px 8px 8px;
  border-radius: 0.375rem;
}

.signOutLink {
  color: black;
}

.navBarOption,
#basic-nav-dropdown {
  font-family: "lemon_milkregular";
  text-transform: uppercase;
}

.agHeaderBg {
  position: relative;
}

.agImage {
  background: url(../img/planning.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: brightness(60%);
}

.agHeader,
.peHeader,
.ceHeader {
  font-family: "lemon_milkregular";
  text-transform: uppercase;
  color: #ffffff;
}

.ceHeader {
  color: #212529;
}

.ceInsideHeader {
  font-size: 1.3rem;
  font-family: "lemon_milkregular";
  text-transform: uppercase;
  color: #ffffff;
}

.ceCardBody {
  background: rgba(33, 37, 41, 0.4941176471);
  border-radius: 0.375rem;
}

.checkbox {
  color: #ffffff;
  font-size: 1.1rem;
}

.ceFullContainer {
  position: relative;
}

.ceBgImg {
  background: url(../img/outside.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: brightness(60%);
}

.adminContainer {
  background: white;
}

.pubEventContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 894px;
  overflow: hidden;
}

.allPubEventContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.vaeImage {
  background: url(../img/outdoorparty.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: brightness(60%);
}

#singleCard {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
}

.peImage {
  background: url(../img/peopleAndTent.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: brightness(60%);
}

.publicEventInfo {
  z-index: 99999;
}

.footer {
  background-color: #212529;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px 20px 40px;
}

.aboutUs,
.aboutUsUnder,
.footerLinks a,
.footerLinks a:visited {
  color: #ffffff;
}/*# sourceMappingURL=stylesheet.css.map */